@if (apiary) {
  <div class="apiary">
    <div class="apiary__header">
      <div class="apiary__header__content">
        <h1 class="apiary__header__content__title">
          {{ apiary.name }}
        </h1>
        <mat-divider class="apiary__header__content__divider"></mat-divider>
      </div>

      <div class="apiary__header__buttons">
        <app-button (click)="declaProd()" color="success"
          >Décla prod</app-button
        >
        <app-button color="primary" (click)="editApiary()"
          ><mat-icon>edit</mat-icon></app-button
        >
        <app-button color="danger" (click)="deleteApiary()"
          ><mat-icon>delete</mat-icon></app-button
        >
      </div>
    </div>
  </div>
  <div class="apiary__chart">
    @if (dataChart) {
      <app-apiary-chart [dataChart]="dataChart" />
    } @else {
      <p>Erreur lors du chargement des données.</p>
    }
  </div>
  <div class="apiary__hives">
    <h1>Localiser les ruches</h1>
    <div id="map" style="height: 530px; margin-bottom: 10px"></div>
    @for (hive of apiary.hives; track hive.id) {
      <mat-card class="apiary__hives__card">
        <mat-card-content class="apiary__hives__card__content">
          <mat-icon> hive </mat-icon>
          <div class="apiary__hives__card__content__info">
            <span>{{ hive.name }}</span>
            <span>{{ hive.id }}</span>
          </div>
          <div class="apiary__hives__card__content__actions">
            <mat-icon (click)="editHive(hive.id!)"> edit </mat-icon>
            <mat-icon (click)="deleteHive(hive.id!)"> delete </mat-icon>
          </div>
        </mat-card-content>
      </mat-card>
    } @empty {
      <p>Le rucher {{ apiary.name }} ne possède aucune ruche</p>
    }
  </div>
} @else {
  <p>Erreur lors du chargement du rucher.</p>
}
