<h1 mat-dialog-title>{{ title }}</h1>
<div mat-dialog-content class="map-add-hive__content">
  <div class="map-add-hive__content__data">
    <span>Latitude {{ data.lng.toFixed(4) }}</span>
    <span>Longitude {{ data.lng.toFixed(4) }}</span>
  </div>
  <app-input [formControl]="form.controls.name"> Nom </app-input>
  <app-input [formControl]="form.controls.sensorId">
    Identifiant du capteur
  </app-input>
  <app-select
    [options]="beeQueenColorOptions"
    [formControl]="form.controls.beeQueenColor"
  >
    Couleur de la reine
  </app-select>
  <app-input [formControl]="form.controls.inUse" type="checkbox">
    En service
  </app-input>
  <app-button
    class="map-add-hive__content__history"
    (click)="showSwarmHistory()"
  >
    Historique des essaims
  </app-button>
</div>
<div mat-dialog-actions>
  <app-button (click)="onNoClick()">Annuler</app-button>
  <app-button (click)="confirm()" color="primary">Ajouter</app-button>
</div>
