.dashboard {
  display: flex;
  height: 100vh;

  &__aside-nav {
    width: 250px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  }

  &__content {
    flex: 1;
    padding: 16px;
    overflow: auto;
  }
}
